body{
    font-family: 'Open Sans', sans-serif;
    margin: 20px;
}
.headline{
    color: #03497E;
    font-size: 100px;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-left: 10px;
    border-left: 5px solid #03497E;
    border-radius: 5px;
}
.left-side{
    width: 100%;
}
.right-side{
    width: 50%;
    margin: 0;
}
.p-link{
    margin-left: 20px;
}
.width{
    width: 60%;
}
span{
    color: #D96C0D;
}
h1{
    color: black;
    font-size: 40px;
}
.link-button{
    text-decoration: none;
    background-color: #1D7D81;
    color: white;
    padding: 10px;
    border-radius: 12px;
}
.header-section{
    display: flex;
    margin: 60px;
}
.mission-section{
    margin: 20px;
}
.develop-section{
    display: flex;
    margin: 40px;
}
.global-section{
    display: flex;
    margin: 40px;
}
.my-mission{
    text-align: center;
    font-size: 50px;
    color: #03497E;
    margin-bottom: 15px;
}
.miss-vis-goal{
    display: flex;
}
.just-mission{
    background-color: rgba(29, 125, 129, .5);;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}
.just-vision{
    background-color: rgba(242, 168, 29, .5);
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}
.just-goals{
    background-color: rgba(3, 73, 126, .5);;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
}
.build-header{
    text-align: center;
    margin: 0;
}
.social-link{
    margin: auto;
    width: 100%;
    text-align: center;
}
.fa {
    padding: 20px;
    font-size: 60px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 20px 5px 30px 5px;
    border-radius: 10px;
  }
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-youtube {
    background: #bb0000;
    color: white;
  }
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.mission-head{
    background-color: #03497E;
    border-radius: 12px;
    color: white;
    width: fit-content;
    padding: 4px;
}
.work-head{
    color: #03497E;
    margin: 0;
}
footer{
    padding: 10px;
    margin: 0;
}
.heaad{
    color: white;
    font-family: 'Dancing Script', cursive;
    padding: 0px;
    margin: 0;
}
footer .p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
